// Variables
$body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Define Mixins for Theme Colors
@mixin theme-light {
  --main-text-color: rgb(29, 29, 31);
  --main-background-color: rgb(255, 255, 255);
  --img-text-color: rgb(142, 142, 147);
  --search-text-color: rgb(108, 108, 112);
  --input-color: rgb(242, 242, 247);
  --input-svg-color: rgb(108, 108, 112);
  --input-placeholder-color: rgb(108, 108, 112);
  --bottom-margin-color: rgb(229, 229, 234);
  --backquate-color: rgb(209, 209, 214);
  --red-color: rgb(176, 0, 32);
  --green-color: rgb(1, 88, 56);

  .text-img {
    -webkit-filter: invert(0);
    filter: invert(0);
    transition: 0.5s;
  }
}

@mixin theme-dark {
  --main-text-color: rgb(245, 245, 247);
  --main-background-color: rgb(0, 0, 0);
  --img-text-color: rgb(142, 142, 147);
  --search-text-color: rgb(174, 174, 178);
  --input-color: rgb(28, 28, 30);
  --input-svg-color: rgb(174, 174, 178);
  --input-placeholder-color: rgb(174, 174, 178);
  --bottom-margin-color: rgb(44, 44, 46);
  --backquate-color: rgb(58, 58, 60);
  --red-color: rgb(254, 0, 46);
  --green-color: rgb(2, 166, 106);

  .text-img {
    -webkit-filter: invert(1);
    filter: invert(1);
    transition: 0.5s;
  }
}

// Explicit Theme Settings
html,
html[data-theme="light"] {
  @include theme-light;
}

html[data-theme="dark"] {
  @include theme-dark;
}

// Media Query for prefers-color-scheme
@media (prefers-color-scheme: dark) {
  html {
    @include theme-dark;
  }
}


// Body Styles
body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: $body-font;
  font-weight: var(--main-font-weight);
  transition: background-color 0.5s, color 0.5s;
  --main-font-weight: 400;
  text-underline-offset: 0.2rem;

  video,
  img {
    border-radius: 0.3rem;
  }

  video {
    display: block;
  }

  #table-of-contents {
    background-color: var(--input-color);
    padding: 0.3rem 1rem;
    margin-bottom: 4.5rem;
  }

  #toc {
    margin-bottom: 0.5rem;
    padding: 0;
  }

  .toc-entry {
    font-size: 14px;
    list-style: none;

    .toc-entry {
      list-style: square;
    }
  }

  table {
    margin-top: 1.5rem;
    width: 100%;
    border-collapse: collapse;

    td,
    th {
      padding: 0.5rem;
      text-align: center;
    }

    th {
      background-color: var(--input-color);
      transition: background-color 0.5s;
    }

    tbody tr:nth-child(2n) {
      background-color: var(--input-color);
      transition: background-color 0.5s;
    }
  }

  .image-span {
    font-size: 0.7em;
    line-height: 1.5;
    color: var(--img-text-color);
    transition: color 0.5s;
    display: block;
    margin-top: 0.5rem;
  }

  // Headings
  h1,
  h2 {
    font-size: 1.75rem;
    font-weight: 600;
  }

  h1 {
    line-height: 1.1;
  }

  h2 {
    line-height: 1.2;
  }

  h3 {
    font-size: 1.3125rem;
    line-height: 1.3;
    font-weight: 600;
  }

  h4 {
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: 600;
  }

  h5 {
    font-size: 1rem;
    line-height: 1.3;
    font-weight: 600;
  }

  .title {
    font-size: 2rem;
    font-weight: normal;
  }

  .subhead {
    font-size: 1.3125rem;
    font-weight: normal;
  }

  .four-o-four {
    font-size: 9.125rem;
    font-weight: normal;
  }

  line-height: 1.7;
}

// Media Queries for larger screens
@media (min-width: 768px) {
  body h1 {
    font-size: 2.25rem;
  }

  body h2 {
    font-size: 2.25rem;
  }

  body h3 {
    font-size: 1.5rem;
  }

  body .title {
    font-size: 2.625rem;
  }

  body .subhead {
    font-size: 1.5rem;
  }

  body .four-o-four {
    font-size: 12rem;
  }

  body table {
    margin-top: 2rem;
  }
}

// Links
body a {
  color: var(--main-text-color);
  transition: color 0.5s;
}

// Paragraphs and Lists
p:last-child,
.textwidget p:last-child {
  margin-bottom: 0;
}

ol:last-child,
.textwidget ol:last-child {
  margin-bottom: 0;
}

li:last-child,
.textwidget li:last-child {
  margin-bottom: 0;
}

// Search and Blockquote Styles
.search-title {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 2px;
}

.post-breadcrumbs {
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--main-text-color);
}

blockquote {
  padding: 0 0.75rem;
  color: var(--search-text-color);
  border-left: .25em solid var(--backquate-color);
}

ol,
ul {
  padding-left: 1.25rem;
}

li {
  margin-top: 0.5rem;
}

li li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

ul ul {
  padding-left: 1.25rem;
}

// Input and Placeholder Styles
input {
  color: var(--main-text-color);
  transition: color 0.5s, background-color 0.5s;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

::placeholder {
  color: var(--input-placeholder-color);
  transition: 0.5s;
}

.post-date {
  display: inline-block;
}

// Border Styles
.border-bottom {
  border-bottom: 1px solid var(--main-text-color) !important;
  transition: border-color 0.5s !important;
}

.border-top {
  border-top: 1px solid var(--main-text-color) !important;
  transition: border-color 0.5s !important;
}

// Customize Button
.customize {
  background-color: var(--input-color);
  border: 0;
  padding: 10px;
  padding-left: 42px !important;
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

// SVG Styles
.ais-search-box svg,
button svg {
  fill: var(--input-svg-color);
  transition: fill 0.5s;
}

::selection {
  color: var(--main-background-color);
  background: var(--main-text-color);
}

// MathJax overflow
.MathJax {
  overflow-x: auto;
  overflow-y: hidden;
}