.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  max-width: 90%;
  max-height: 80%;
}

.close {
  position: absolute;
  top: calc(10% - 3px);
  right: calc(5% - 3px);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

body.modal-open {
  overflow: hidden;
  height: 100%;
}