---
layout: default
---
<script src="//code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="//rawgit.com/ddimitrioglo/jquery-mailchimp/master/dist/jquery-mailchimp.min.js"></script>
<script src="{{ site.github.url }}/assets/libs/mailchimp/index.js"></script>

<div class="row gx-md-6 gx-0 mb-8">
  <div class="d-flex flex-column col-md-6">
    <h3 class="mb-3">about</h3>
    <div class="mb-md-0 mb-4">
      {{ content }}
    </div>
  </div>
  <div class="col-md-6">
    <div class="flex-column text-end">
      <img src="{{ site.github.url }}/assets/img/meme.webp" alt="about" width="100%">
      <span class="image-span">
        {%- if page.language == "zh-Hant-TW" %} Random meme.
        {%- else %} Random meme.
        {%- endif %}
      </span>
    </div>

  </div>
</div>

<div class="row gx-md-6 gx-0 mb-8 align-items-end">
  <div class="col-md-6 mb-md-0 mb-8">
    <h3 class="mb-3">latest articles</h3>
    {%- assign count = 0 %}
    {%- for post in site.posts %}
    {%- if page.language == post.language and post.draft == false %}
    {%- if count < 5 %}
    <div class="flex-column mt-3">
    <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
    <span class="post-date"> - {{ post.date | date: "%B %-d, %Y" }}</span>
    </div>
    {%- assign count = count | plus: 1 %}
    {%- endif %}
    {%- endif %}
    {%- endfor %}
    <div class="flex-column mt-3">
      {%- if page.language == "zh-Hant-TW" %}
        <a href="{{ site.github.url }}/articles">更多文章</a>
      {%- else %}
        <a href="{{ site.github.url }}/en/articles">view all articles</a>
      {%- endif %}
    </div>
  </div>
</div>

<style>
  input {
    box-sizing: border-box;
    outline: none;
    padding: 10px;
    padding-left: 15px;
    border: 0px;
    margin-left: 0px;
    box-sizing: border-box;
    border-radius: 0;
    box-shadow: none;
    background-color: var(--input-color);
    display: inline-block;
    position: relative;
    height: 45px;
    font-size: 14px;
  }

  button {
    padding-right: 11px;
    padding-left: 11px;
    border: 0px;
    background-color: var(--input-color);
    transition: background-color 0.5s;
  }

  .green-class::-webkit-input-placeholder {
    color: var(--green-color);
    transition: 0s;
  }

  .red-class::-webkit-input-placeholder {
    color: var(--red-color);
    transition: 0s;
  }
</style>
