---
layout: default
---
<script src="//code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="//rawgit.com/ddimitrioglo/jquery-mailchimp/master/dist/jquery-mailchimp.min.js"></script>
<script src="{{ site.github.url }}/assets/libs/mailchimp/index.js"></script>

<div class="row gx-md-6 gx-0 mb-8">
  <div class="d-flex flex-column col-md-6">
    <h3 class="mb-3">about</h3>
    <div class="mb-md-0 mb-4">
      {{ content }}
    </div>
  </div>
  <div class="col-md-6">
    <div class="flex-column text-end">
      <img src="{{ site.github.url }}/assets/img/about.webp" alt="about" width="100%">
      <span class="image-span">
        {%- if page.language == "zh-Hant-TW" %}過去所舉辦的「遇見咖啡」品飲活動
        {%- else %}The "Meet Coffee" tasting events held in the past
        {%- endif %}
      </span>
    </div>
    <div class="flex-column text-end mt-4 mt-md-5">
      <img src="{{ site.github.url }}/assets/img/home.webp" alt="cupping" width="100%">
      <span class="image-span">
        {%- if page.language == "zh-Hant-TW" %}與社團夥伴們一同參加杯測會
        {%- else %}Participated in cupping sessions with friends from the club
        {%- endif %}
      </span>
    </div>
  </div>
</div>

<div class="row gx-md-6 gx-0 mb-8 align-items-end">
  <div class="col-md-6 mb-md-0 mb-8">
    <h3 class="mb-3">latest articles</h3>
    {%- assign count = 0 %}
    {%- for post in site.posts %}
    {%- if page.language == post.language and post.draft == false %}
    {%- if count < 5 %}
    <div class="flex-column mt-3">
    <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
    <span class="post-date"> - {{ post.date | date: "%B %-d, %Y" }}</span>
    </div>
    {%- assign count = count | plus: 1 %}
    {%- endif %}
    {%- endif %}
    {%- endfor %}
    <div class="flex-column mt-3">
      {%- if page.language == "zh-Hant-TW" %}
        <a href="{{ site.github.url }}/articles">更多文章</a>
      {%- else %}
        <a href="{{ site.github.url }}/en/articles">view all articles</a>
      {%- endif %}
    </div>
  </div>
  <div class="col-md-6">
    <h3 class="mb-3" id="subscribe">subscribe</h3>
    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup">
      <form id="subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate class="col-8">
        <div class="mc-form-group-EMAIL input-group" id="mc_embed_signup_scroll">
          <!-- <label for="mce-EMAIL">Email Address </label> -->
          <input type="email" value="" name="EMAIL" class="required email flex-grow-1" id="mce-EMAIL"
            placeholder="Your email" autocomplete="email">
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <!-- <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                name="b_638c75f9e7b5ea4fd32d76a3a_09c247923d" tabindex="-1" value=""></div> -->
          <button type="submit" id="submit-form" name="submit-form" id="mc-embedded-subscribe">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill=var(--input-svg-color)
              class="bi bi-plus" viewBox="0 0 16 16">
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
          </button>
          <div class="mc-error" id="mc-error" style="display: none;"></div>
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
  </div>
</div>

<style>
  input {
    box-sizing: border-box;
    outline: none;
    padding: 10px;
    padding-left: 15px;
    border: 0px;
    margin-left: 0px;
    box-sizing: border-box;
    border-radius: 0;
    box-shadow: none;
    background-color: var(--input-color);
    display: inline-block;
    position: relative;
    height: 45px;
    font-size: 14px;
  }

  button {
    padding-right: 11px;
    padding-left: 11px;
    border: 0px;
    background-color: var(--input-color);
    transition: background-color 0.5s;
  }

  .green-class::-webkit-input-placeholder {
    color: var(--green-color);
    transition: 0s;
  }

  .red-class::-webkit-input-placeholder {
    color: var(--red-color);
    transition: 0s;
  }
</style>
